## Scrape List of postal codes of Canada: M from Wikipedia

### This is a list of postal codes in Canada where the first letter is M. Postal codes beginning with M are located within the city of Toronto in the province of Ontario.

In [3]:
# wikipedia url for list of postal code of canado: M
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
url

'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [49]:
import pandas as pd

tables = pd.read_html(url)

toronto_data = calls_df[0]

In [125]:
df = pd.DataFrame(toronto_data)

df.head(5)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## Data Analysis

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 3 columns):
Postcode         287 non-null object
Borough          287 non-null object
Neighbourhood    287 non-null object
dtypes: object(3)
memory usage: 6.9+ KB

In [56]:
df.dtypes

Postcode         object
Borough          object
Neighbourhood    object
dtype: object

In [57]:
df.shape

(287, 3)

In [65]:
#total missing values
print(df.isnull().sum())

Postcode         0
Borough          0
Neighbourhood    0
dtype: int64

## Data Preprocessing

In [126]:
# Ignore cells with a borough that is Not assigned

# Get names of indexes for which column borough has value Not assigned
indexNames = df[ df['Borough'] == 'Not assigned' ].index
 
# Delete these row indexes from dataFrame
df.drop(indexNames, inplace=True)
df.head(5)

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [81]:
df.reset_index(drop=True)

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [82]:
df.shape

(210, 3)

## Combine same postcode into one row with the neighborhoods separated with a comma

In [130]:
df = df.groupby('Postcode').agg({'Borough':'first','Neighbourhood': ', '.join}).reset_index()

df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [134]:
df['Postcode'].unique().shape

(103,)

### Check missing values

In [139]:
df.isnull().sum()

Postcode         0
Borough          0
Neighbourhood    0
dtype: int64

### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [140]:
df[ df['Neighbourhood'] == 'Not assigned' ].shape

(0, 3)

In [141]:
df.shape

(103, 3)

### save data in csv file

In [142]:
# df.to_csv("toronto_data.csv", index=False)